<div class="welcome">
	<h1>Welcome to MyRecipes!</h1>
	<p>MyRecipes Is a place where you can find you fav menu from around the world</p>
	<div class="welcomebutton">
		<%= link_to "Check MyRecipes", "" %>
	</div>
</div>

<div class="choicesbrother">
	
	<div class="choices">
		<ul>
			<li><%= link_to "menu 1", "", class: "choicesoption"  %></li>
		</ul>
	</div>

	<div class="choices">
		<ul>
			<li><%= link_to "menu 2", "", class: "choicesoption"  %></li>
		</ul>
	</div>

	<div class="choices">
		<ul>
			<li><%= link_to "menu 3", "", class: "choicesoption"  %></li>
		</ul>
	</div>

</div>
