<div class="header">
		<%= link_to "MyRecipes", "", class: "logo" %>
		<div class="menu">
			<ul>
				<li><%= link_to "menu 1", "", class: "menuoption"  %></li>
				<li><%= link_to "menu 2", "", class: "menuoption"  %></li>
				<li><%= link_to "menu 3", "", class: "menuoption"  %></li>
			</ul>
		</div>
	</div>